<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Спасибо!</h3>
        <p class="card-text">Спасибо за регистрацию на нашем сайте.</p>
        <p class="card-text">Для того чтобы продолжить использование подтвердите ваш email. Инструкции высланы на электронную почту.</p>
    </div>
</div>
