<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Спасибо!</h3>
        <p class="card-text">Спасибо за оформление заказа.</p>
        <p class="card-text">Мы отправим Ваш товар как можно скорее.</p>
    </div>
</div>
